ion-input{
    border: solid 1px black;
    width: 30%;
    margin-left: 24px;
    margin-bottom: 0px;
    border-radius: 16px;
}

.search-instruction {
    width: 30%;
    height: 60px;
    background-color: gray;
    color: white;
    margin-top: 0px;
    margin-left: 24px;
    padding: 16px;
    border-radius: 4px;
}

