<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      All About Github Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

    <p>Type any Github User Name to Get Started!</p>
    <ion-input 
      [(ngModel)]="searchInput"
      placeholder="Search Github"
      (ionChange)="onUserSearchInput()"
      >
      <ion-icon name="search-outline"></ion-icon>
    </ion-input>

    <div>
      <p class="search-instruction" *ngIf="loading">
        Getting users info...
      </p>
    </div>

      <ul class="list-group"  *ngIf="!loading">
        <li class="list-group-item" *ngFor="let user of usersList">
          <img src="{{user.avatar_url}}">
          <p>{{user.login}}</p>
        </li>
      </ul>




</ion-content>
